[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Eel = "*"
greenlet = "*"
toml = "*"
numpy = "*"
cvxpy = "*"
# contains a specific bug fix on master that is not released yet as of March 18, 2020
mip = {git = "https://github.com/coin-or/python-mip.git", ref = "1586ec2d1a290fbb967d433744e425298851c33d"}

[dev-packages]
# black = "19.3b0"
pyinstaller = "*"
# and platform-specific libraries used by pyinstaller
# for some reason this causes failures on linux trying to install pywin32 - not sure why
# pypiwin32 = { version = "*", sys_platform = "== 'win32'" }
pywin32-ctypes = { version = "*", sys_platform = "== 'win32'" }
pefile = { version = "*", sys_platform = "== 'win32'" }
macholib = { version = "*", sys_platform = "== 'darwin'" }

[requires]
python_version = "3.7"
